
<div class="series">


<h1><strong>Available Accounts</strong></h1>


    <% @movie.chapters.each do |chapter| %>
            <!-- <h4 align="center"> -->
          <div class="col-med-3">

            <p class="link-movie"><%= chapter.title%></p>

            <%= link_to "Edit", edit_movie_chapter_path(chapter.movie, chapter),
            :class => "btn btn-primary"  %>

            <%= link_to 'Delete Serie', movie_chapter_path(chapter.movie, chapter), method: :delete,
            data: { confirm: 'Are you sure you want to delete '+chapter.title+'?' },
            :class => "btn btn-danger"  %>

          </div>

      <%end%>

</div>
