

<h1>Available Articles</h1>
 
<span style="float:right;">
	<%= link_to 'Add a new Article', new_article_path, :class => "btn btn-primary"  %>
</span>


<% if @articles.any? %>
	<%= render @articles %>

<% else %>
	<p>There are no articles! </p>
<% end %>



