<!DOCTYPE html>
      <div class="series">
  <h1>
    <strong>Available Articles</strong>

    <span style="float:right;">

      <% if user_signed_in?%>
        <% if !(current_user.role == "child") %>
      <%= link_to 'Add a new Article', new_article_path, :class => "btn btn-primary"  %>
        <%end %>
      <%end %>
    </span>
  </h1>

      <% if @articles.any? %>

          <%= render @articles %>

      <br>
    <% else %>
      <p>There are no articles yet!</p>
      <% end %>


</div>
</html>
