<!DOCTYPE html>
<div class="series">
  <h1>
    <strong>Available Articles</strong>

    <span style="float:right;">
      <%= link_to 'Add a new Article', new_article_path, :class => "btn btn-primary"  %>
    </span>
  </h1>



      <% if @articles.any? %>
          <%= render @articles %>
    <% else %>
      <p>There are no articles yet!</p>
      <% end %>


</div>
</html>
