<!DOCTYPE html>
<html>
<div class="series">


<h1>Available Series</h1>
<p align="left">
  <% if can? :update, Movie %>
  <%= link_to 'Add a new Serie', new_movie_path, :class => "btn btn-primary"  %>
  <%end %>
</p>





<% if @movies.any? %>

    <% @movies.each do |movie| %>
      <div class="div-order">
        <a href="/movies/<%= movie.id %>">
          <h4 align="center">
          <%= image_tag movie.movie_img.url(:movie_index), class: "movie"%>
          <p> </p>
          <%= movie.title%>
        </h4>
        </a>
        </div>


    <% end %>

<% else %>
	<p>The Database is empty! </p>
<% end %>


</div>



</html>
