<!DOCTYPE html>
<html>
<div class="series">


<h1><strong>Available Series</strong>
<span style="float:right;">
  <% if @child_view.present?%>
    <% if @child_view.state = false %>
      <% if can? :update, Movie %>
      <%= link_to 'Add a new Serie', new_movie_path, :class => "btn btn-primary"  %>
      <%end %>
    <%end %>
  <%end %>
</span>
</h1>



<div class="page">
  <div class="movie-list">
<% if @movies.any? %>

    <% @movies.each do |movie| %>

        <div class="movie">


            <!-- <h4 align="center"> -->
            <figure class="movie-poster">
            <a href="/movies/<%= movie.id %>">
            <%= image_tag movie.movie_img.url(:movie_index), class: "movie"%>
            </figure>
          <div class="movie-title" align="center">
            <p class="link-movie"><%= movie.title%></p>
          </div>
          </a>
        </div>
        <!-- </h4> -->



    <% end %>
<% else %>
	<p>The Database is empty! </p>
<% end %>

</div>
</div>
</div>



</html>
