<!DOCTYPE html>
<html>


<h1>Available Series</h1>

<% if @movies.any? %>
  	<% @movies.each do |movie| %>
		<h2><%= link_to movie.title, movie %></h2>
	<% end %>
<% else %>
	<p>The Database is empty! </p>
<% end %>
<% if can? :update, Movie %>
<%= link_to 'Add a new Serie', new_movie_path, :class => "btn btn-primary"  %>
<%end %>



</html>
